#form
	= simple_form_for @post do |f|
		= f.input :image, input_html: { class: 'input_field' }
		= f.input :title, input_html: { class: 'input_field' }
		= f.input :link, input_html: { class: 'input_field' }
		= f.input :description, input_html: { class: 'input_field' }

		= f.button :submit, class: "button"